/* tag selectors */
body{
  font-family: 'Montserrat', sans-serif;
}

button{
  margin: auto 10px;
}

h2{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* class selectors */

.bottom-button{
  margin: 30px 2%;
}

.card{
  text-align: center;
}
.carousel-item{
  padding: 3% 10%;
}

.col-md {
  text-align: center;
  margin-bottom: 75px;
}

.coloured-section{
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.cred-img{
  width: 10%;
  margin: 32px;
}
.dog {
  height: 575px;
  transform: rotate(30deg);
  position: absolute;
  top: -50px;
}

.download-btn {
  margin-bottom: 40px;
}

.fa-3x {
  color: #ef8172;
  margin-bottom: 15px;
}

.fa-3x:hover{
  color: #ff4c68;
}

.features {
  color: #8f8f8f;
}

.footer-icon{
  margin: 0 1% 30px;
}
.footer-text{
  color: #4ab59d;
  font-weight: 900;
}
.love{
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Montserrat-Black", sans-serif;
  line-height: 1.5;
}
.middle {
  padding: 3% 10%;
}
.navbar {
  padding-left: 0;
}
.navbar-brand{
  font-size: 3em;
  font-family: "ubuntu"
  }

.nav-item{
  margin: auto 18px;
}
.row {
  margin-top: 50px;
}
.title{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}
.top{
  padding: 3% 15%;
}

.white-section{
  background-color: #fff;
  text-align: center;
}

/* id selectors */
#cta{
  padding: 85px 15% 60px;
}

#features {
  position: relative;
}

#footer{
  margin-top: 80px;
}

#press{
  padding-bottom: 16px;
}

#pricing{
  margin: 50px auto;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

/*media*/
@media (max-width:991px){
  .dog{
    position: static;
    transform: rotate(0);
  }
  .top{
    text-align: center;
  }
}
